In [1]:
#import essential libraries
import numpy as np 
import pandas as pd

In [3]:
#Import  dataset
dataset = pd.read_csv('taxi.csv')
dataset.head()

,Priceperweek,Population,Monthlyincome,Averageparkingpermonth,Numberofweeklyriders
0,15,1800000,5800,50,192000
1,15,1790000,6200,50,190400
2,15,1780000,6400,60,191200
3,25,1778000,6500,60,177600
4,25,1750000,6550,60,176800

In [5]:
dataset.shape

(27, 5)

In [6]:
dataset.isnull().sum()

Priceperweek              0
Population                0
Monthlyincome             0
Averageparkingpermonth    0
Numberofweeklyriders      0
dtype: int64

In [8]:
#seprate dataset into independent ansddependent  variable 
x = dataset.iloc[:,:-1].values
y=dataset.iloc[:,4].values

In [11]:
#split dataset into training dataset and testing dataset
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [13]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()
reg.fit(x_train,y_train)

LinearRegression()

In [14]:
import pickle

In [15]:
pickle.dump(reg,open('taxi.pkl','wb'))

In [16]:
#Test the model 
model = pickle.load(open('taxi.pkl','rb'))
model.predict([[80,1770000,6000,85]])[0].round(2)

153448.45